body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-family: Joystix;
}

ul#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  z-index: 10;
}

ul#nav li {
  display: inline-block;
  padding: 0 1em;
  cursor: pointer;
}

ul#nav li:hover {
  background-color: #fff;
  color: #000;
}

img#map {
  max-width: 100%;
  height: auto;
}
