.items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.items img {
  width: 64px;
  height: 64px;
  filter: grayscale(0.8);
  opacity: 0.4;
  margin: 0 4px;
}

.items img.have {
  filter: none;
  opacity: 1;
}

.chests {
  margin-top: 8px;
  padding: 8px 2px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.chests div {
  display: inline-block;
  margin: 4px;
}

.chests img {
  width: 64px;
  height: auto;
  image-rendering: pixelated;
  display: block;
}

.boss.dead {
  filter: grayscale(100%);
  opacity: 0.5;
}

.map {
  margin: 2px 0;
  width: 384px;
  height: 384px;
  display: inline-block;
  position: relative;
  background-size: cover;
  image-rendering: pixelated;
}

.map.light {
  background-image: url('light.png');
}

.map.dark {
  background-image: url('dark.png');
}

.map .poi {
  width: 8px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #000;
  background: #d8ff00;
}

.map .poi.done {
  opacity: 0.6;
  background: #333;
}

.map .poi.er {
  display: none;
}

#timer {
  font-size: 48px;
}

#extras button {
  border: 1px solid #eee;
  color: #eee;
  font-family: pickles;
  background: #000;
  display: block;
  margin-bottom: 4px;
}

#extras button.on {
  color: #000;
  background: #d8ff00;
}
