#party, #items, #tracker, #bosses {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2px;
  margin-bottom: 2px;
  justify-content: space-between;
  text-align: left;
}

#party img {
  opacity: 0.4;
  filter: grayscale(1);
  margin: 1px;
}

#items img {
  opacity: 0.4;
  filter: grayscale(1);
  margin: 8px 12px;
}

img.active {
  opacity: 1 !important;
  filter: none !important;
}

#tracker p {
  font-size: 12px;
  width: 180px;
  clear: both;
  margin: 2px;
  padding: 0 4px;
  color: #777;
}

#tracker p.available {
  color: #fff;
}

#tracker p.done {
  color: #222;
  text-decoration: line-through;
}

#tracker img {
  height: 16px;
  float: right;
  opacity: 0.6;
  filter: grayscale(1);
}

#tracker img.available {
  opacity: 1;
  filter: none;
}

#tracker img.done {
  opacity: 0.3;
  filter: grayscale(1);
}

.hide {
  display: none;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 2px;
  padding: 0;
  border: none;
  border-top: 1px solid #bbb;
}

#extras {
  position: fixed;
  top: 0;
  left: 410px;
  margin: 0;
  padding: 0;
}

#controls button {
  display: block;
  margin: 4px;
  padding: 4px;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  font-family: 'pickles';
}

#controls button.on {
  background-color: #000063;
}

#extras h2 {
  font-size: 24px;
  text-align: left;
  color: #999;
  margin-left: 8px;
}

#extras div {
  margin: 4px;
  justify-content: flex-start;
}

#extras div p {
  display: inline-block;
  width: 100px;
  font-size: 8px;
  margin: 4px;
  padding: 2px;
  border: 1px solid #fff;
  text-align: center;
}

#extras div p:hover {
  background-color: #333;
}

#bosses p.done {
  color: #bbb;
  background-color: #630000;
}

#towns p {
  color: #777;
}

#towns p.available {
  color: #fff;
}

#towns p.done {
  background-color: #636363;
}

#towns p.poi {
  background-color: #006300;
}

#chests p {
  width: 125px !important;
  text-align: left !important;
}

#chests .done {
  color: #222;
  text-decoration: line-through;
  border-color: #222;
}

#chests p i {
  float: right;
  font-style: normal;
  width: 20px;
  text-align: right;
}

#chests p i.trap {
  color: #f40000;
}

#chests p.done i.trap {
  color: #200;
}
